* text=auto eol=lf

*.command text eol=lf
*.sh text eol=lf
*.zsh text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf

*.avif binary
*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.pdf binary
*.png binary
*.webp binary
*.mov binary
*.mp3 binary
*.mp4 binary
*.wav binary
*.woff binary
*.woff2 binary
